@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

html {background-color: #3a3a3a;
      scroll-behavior: smooth;
      }

body { font-family: roboto, sans-serif ;
      color:#fff;
       font-weight: 200;

    }

    /* Headings and logo */

    h1,h2,h3 {font-family: Roboto, sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        
    }


  #logo {
   float: left;
   font-size:250%;
   color: #fff;
   margin-left: 25px;
   

  }
  
  /* Navigation links */

  #nav-list {
    font-size: 110%;
    letter-spacing: 2px;
  
  }

  #nav-list, #logo {
    line-height: 75px;
  }
  
  #nav-list li {

    list-style: none;
    float: right;
    margin-right: 30px;
  }
    
  #nav-list a {
    text-decoration: none;
    color:#fff;

  }

  #logo:hover {
    color: #add8e6;
    }

 #nav-list a:hover {
   color:#add8e6;
   border-bottom: 1px solid;
 }

 .active {
   border-bottom: 1px solid #add8e6;
 }

 /* Hero image */

 #hero-sec {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
  

 }

 #cover-text h2 {
   color:#add8e6;

  
 }

 #hero-image {
  background:url('../images/hero-image.jpeg') no-repeat center center;
  width: 100%;
  height:600px;
  background-size: cover;
   }


   #cover-text {
     font-family: roboto, sans-serif ;
     letter-spacing: 2px;
     width: 200px;
     height: 400px;
     padding-top: 50px;
     padding-right: 10px;
     bottom: 10px;
     left: 60px;
     position: absolute;
     
   }

   /* Classes section */

   .main-container {
     margin-top: 20px;
     margin-bottom: 500px
   }

   

   .main-card-title {
     text-align: center;
     margin-top: 50px;
     margin-bottom: 50px;
     font-size: 24px;
     font-weight: bold;
   }

   .card-content {
     width:1400px;
     height:300px;
     display: flex;
     justify-content: space-between;
     margin: 0 auto;
     
     
   }

   .card-image-container {
     width: 420px;
     height: 100%;
     background:#fff;
     border-radius: 5px;
     display: flex;
     justify-content: center;
     cursor: pointer;
     position:relative;
     overflow: hidden;
     
   }

   .card-img {
    transition: 5s;
  }

   .card-title {
     margin-top: 30px;
     font-size: 18px;
     font-weight: bolder;
     text-align: center;
     color: #fafafa
   }

   .card-span {
     font-weight: normal;
     display: block;
     color:inherit;
   }

   .card-info {
     position: absolute;
     height: 100%;
     top: -100%;
     left: 0;
     color: #3a3a3a;
     transition: 5s ease-in-out;
   }

     .card-info-list {
       margin: auto;
     }
     
    
   

   .card-info-item {
     margin-bottom: 20px;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     
   }

     /* Hover  us section */
   .card-image-container:hover >li  {
   top: 0;
   overflow: hidden;

   }
 
   .card-image-container:hover > .card-info {
     top:0
   }
  
   .card-image-container:hover > .card-img {
    transform:scale(1.5)
  }

  .card {
    height: 300px;
    width: 70%;

  }

   /* About us section */

  .banner-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -2px -2px 15px 3px rgba(0, 0, 0, 0.8);
  }

  .banner-content-container {

   text-align: right;
  }

  .banner-content {
  padding: 0  50px;
    
  }

  .banner-image-container {
    height: 200%;
  }

  .banner-heading {
    font-size: 30px;
    letter-spacing: 1px ;
    margin-bottom: 30px;
    text-align: left;
  }

  .banner-summary {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: left;
  }

  .banner-cta {
    display: inline-block;
    background: #add8e6;
    padding: 10px 20px;
    text-decoration: none;
  }

   .banner-cta:hover {
    background:#fafafa; 
   }
  .banner-headline {
    text-align: center ;
    text-decoration:underline;
    line-height: 30px;
    
  }

  /* Contact us section */

  #contact-title {
    text-align: center;
    letter-spacing: 2px;
    margin-top: 30px;
    text-decoration: underline;
  }

.contact-desc {
  height: 500px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bolder;
}

.contact-info-holder,
.contact-form-holder {
  flex-basis: 40%;
  height: 80%;
  background:rgba(173, 216, 230, 0.8);
  display:flex;
  
}

.contact-form ,.contact-info {
  margin:auto;
}

.contact-info {
  color:#fff;
}

td {
  vertical-align: top;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 1px;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.contact-input-holder {
  width: 80%;
  text-align: center;
}

 input,.msg-input {
  width: 60%;
  margin: 10px 15px;
}

 input {
  height: 20px;
  border:none;
  font-size: 15px;  
  
}


textarea {

  border:none;
  font-size: 15px;
  padding: 10px;
}

input[type="submit"]
   {cursor: pointer;

 }

 /* Footer section */

 footer {
   height: 150px;
   border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
 }

 .social-icons {
   text-align: center;
 }

 .social-icons > li {
   text-align: center;
   display:inline;
 }

 .social-icons i {
   font-size: 150%;
   margin: 1%;
   padding: 5%;
   color:#ffff;
 }

 #copyright {
   text-align: center;
   margin-top: 20px;
 }

 /* Media queries */


 /* For larger to medium sized screens */

 @media screen and (max-width:1300px) {

.main-container {
  width: 100%;
  position: relative;
}
   
  .card  { width: 80%;
          height: 300px;
          margin:0 auto;
                  
  
}


div>img {
  width: 100%;

}
  

#contact-section {

  padding-left: 20px;
}


 }


