@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

html {background-color: #3a3a3a;}

body { font-family: roboto, sans-serif ;
      color:#fff;
       font-weight: 200;
       width: 100%;

       
    }
    .active-nav {
      display: inline-block;
      
  
    }
    /* Headings and logo */

    h1,h2,h3 {font-family: Mukta, sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        
    }

 header{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 header .icon {
  display: none;
  color: white;
  font-size: 25px;
  margin-right: 20px;

}
 header a{
   text-decoration: none;
   
 }
  #logo {
   font-size:200%;
   color: #fff;
   margin-left: 25px;
   

  }
  
  
  /* Navigation links */

  #nav-list {
    margin-left: 0;
    font-size: 180%;
    letter-spacing: 2px;
    align-items: center;
    justify-content: space-between;
  }

  #nav-list {
    line-height: 75px;
  }
  
  
    
  #nav-list a {
    text-decoration: none;
    color:#fff;
    margin-right: 30px;
  }

  #logo:hover {
    color: #add8e6;
    }

 #nav-list a:hover {
   color:#add8e6;
   border-bottom: 1px solid;
 }

 .active {
   border-bottom: 1px solid #add8e6;
  
 }

 /* Hero image */

 #hero-sec {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
  

 }

 #cover-text h2 {
   color:#add8e6;

  
 }

 #hero-image {
  background:url('../images/hero-image.jpeg') no-repeat center center;
  width: 100%;
  height:600px;
  background-size: cover;
   }


   #cover-text {
     font-family: roboto, sans-serif ;
     letter-spacing: 2px;
     width: 100%;
     max-width: 400px;
     padding-top: 0;
     padding-right: 10px;
     bottom: 10px;
     margin-top:0;
     left: 60px;
     position: absolute;
     
   }

   /* Classes section */

   .main-container {
    margin: 0 auto;
     margin-top: 20px;
     margin-bottom: 100px;
     width: 90%;
    
   }
.card-container{
  width: 100%;
  margIn: 0 auto;
}
   

   .main-card-title {
     text-align: center;
     margin-top: 50px;
     margin-bottom: 50px;
     font-size: 24px;
     font-weight: bold;
   }

   .card-content {
     display: flex;
     justify-content: space-between;
     margin: 0 auto;
     
     
   }

   .card{
     width: 100%;
     max-width: 30%;
   }
   .card-image-container {
     width: 100%;
     max-width: 90%;
     height: 100%;
     background:#fff;
     border-radius: 5px;
     display: flex;
     justify-content: center;
     cursor: pointer;
     position:relative;
     overflow: hidden;
     
   }

   .card-img {
    transition: 5s;
  }

   .card-title {
     margin-top: 30px;
     font-size: 18px;
     font-weight: bolder;
     text-align: center;
     color: #fafafa;
   }

   .card-span {
     font-weight: normal;
     display: block;
     color:inherit;
   }

   .card-info {
     position: absolute;
     height: 100%;
     top: -100%;
     left: 0;
     color: #3a3a3a;
     transition: 5s ease-in-out;
   }

     .card-info-list {
       margin: auto;
     }
     
    
   

   .card-info-item {
     margin-bottom: 20px;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     
   }

  
   .card-image-container:hover >li  {
   top: 0;
   overflow: hidden;

   }
 
   .card-image-container:hover > .card-info {
     top:0;
   }
  
   .card-image-container:hover > .card-img {
    transform:scale(1.5)
  }

  .card {
    height: 300px;
    width: 70%;

  }

   /* About us section */

  .banner-container {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -2px -2px 15px 3px rgba(0, 0, 0, 0.8);
  }

  .banner-content-container {

   text-align: right;
   width: 100%;
   max-width: 20%;
  }

  .banner-content {
    width: 100%;
  }

  
  #bannerSummary{
    padding-left: 8%;
  }
  #bannerImg{
    margin-left: 10%;
  }
  .banner-image-container {
    height: 200%;
    width: 100%;
  }
  .banner-image-container img{
    width: 90%;
  }

  .banner-heading {
    font-size: 30px;
    letter-spacing: 1px ;
    margin-bottom: 30px;
    text-align: left;
  }

  .banner-summary {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: left;
  }

  .banner-cta {
    display: inline-block;
    background: #add8e6;
    padding: 10px 20px;
    text-decoration: none;
  }

   .banner-cta:hover {
    background:#fafafa; 
   }
  .banner-headline {
    text-align: center ;
    text-decoration:underline;
    line-height: 30px;
    
  }

  /* Contact  section */

  #contact-title {
    text-align: center;
    letter-spacing: 2px;
    margin-top: 30px;
    text-decoration: underline;
  }

.contact-desc {
  
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bolder;
}

.contact-info-holder,
.contact-form-holder {
  flex-basis: 40%;
  background:rgba(173, 216, 230, 0.8);
  display:flex;
  
}
.contact-info-holder{
  padding-top: 75px;
  padding-bottom: 75px;
}

.contact-form ,.contact-info {
  margin:auto;
}

.contact-info {
  color:#fff;
}

td {
  vertical-align: top;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 1px;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.contact-input-holder {
  width: 80%;
  text-align: center;
}

 input,.msg-input {
  width: 60%;
  margin: 10px 15px;
}

 input {
  height: 20px;
  border:none;
  font-size: 15px;  
  
}


textarea {
   
  border:none;
  font-size: 15px;
  padding: 10px;
}

input[type="submit"]
   {cursor: pointer;

 }

 /* Footer section */


 footer{
  margin: 0 auto;
   width: 100%;
  height: 100px;
  
 }

 .social-networks {
  text-align: center;
 }
 .social-networks li { 
  display: inline;
 }

 .social-networks i {
    font-size:180%;
    margin: 1%;
    padding: 5%;
    color: #fafafa

 }



 /* media query for tablets */

 @media only screen and (min-width: 779px) and (max-width: 1281px) { 

  #logo {

    font-size:150%;
    color: #fff;
    margin-left: 25px;
    
   }
   .banner-image-container img{
    width: 90%;
  }

  .banner-content-container {

    text-align: right;
    width: 100%;
    max-width: 40%
  
   }

   .banner-heading{
     font-size: 20px
   }
   .banner-summary{
     font-size: 15px;
   }

   textarea{
     margin-left: 2.5%
   }
 }

/* media query for mobile */

@media screen and (max-width: 778px){
	nav a {
		display: none;
    font-size: 20px;
   
	}
  #nav-list {
    line-height: 25px;
  }
 header .icon{
	display: block;
	
  }
  
}
 @media only screen and (min-width: 375px) and (max-width: 778px) {

  body{
    width: 100%
  }
  
  .top_section.responsive {position: relative;}
				header .responsive .iconn {
				  position: absolute;
				  right: 0;
				  top: 0;
				}
        nav{
          display: block;
        }
				.topnav.responsive a {
				  float: none;
				  display: block;
				  text-align: right;

				}
				.header{
					height: 160px; 
				}
  
        .topnav{
          position: relative;
          padding: 20px;
         max-height: 150px;
          
        }
  .card-content, .banner-container {
    
   width: 100%;
    display: block
    
    
  }
 
  .banner-content-container {

    text-align: right;
    width: 100%;
    max-width: 100%
   }
  .banner-image-container img{
    width: 90%;
    
  }
  #hero-image{
    height: 600px;
  }
  #cover-text {
    font-family: roboto, sans-serif ;
    letter-spacing: 2px;
    width: 100%;
    max-width: 60%;
    padding-top: 0;
    padding-right: 10px;
    bottom: 10px;
    left: 20px;
    position: absolute;
    
  }

  .contact-desc{
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .card-image-container{
    max-width: 100%
  }
  .card-container{
    max-width: 100%;
  
  }
  .contact-info-holder{
    margin-bottom: 20px;
  }
  .card{
    width: 100%;
    max-width: 100%;
    margin-bottom: 22%;
    margin-right: 0;
    height: 250px
  }
  
  #bannerSum{
    padding-left: 8%;
  
    width: 90%
  }
  

  #logo{
    font-size: 100%;
  }
 
 }