@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

html {background-color: #3a3a3a;}

body { font-family: roboto, sans-serif ;
      color:#fff;
       font-weight: 200;

    }

    /* Headings and logo */

    h1,h2,h3 {font-family: Roboto, sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        
    }


  #logo {
   float: left;
   font-size:250%;
   color: #fff;
   

  }
  
  /* Navigation links */

  #nav-list {
    font-size: 110%;
    letter-spacing: 2px;
  
  }

  #nav-list, #logo {
    line-height: 75px;
  }
  
  #nav-list li {

    list-style: none;
    float: right;
    margin-right: 30px;
  }
    
  #nav-list a {
    text-decoration: none;
    color:#fff;

  }

  #logo:hover {
    color: #add8e6;
    }

 #nav-list a:hover {
   color:#add8e6;
   border-bottom: 1px solid;
 }

 .active {
   border-bottom: 1px solid #add8e6;
 }

 /* Hero image */

 #hero-sec {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
  

 }

 #cover-text h2 {
   color:#add8e6;

  
 }

 #hero-image {
  background:url('../images/hero-image.jpeg') no-repeat center center;
  width: 100%;
  height:600px;
  background-size: cover;
   }


   #cover-text {
     font-family: roboto, sans-serif ;
     letter-spacing: 2px;
     width: 200px;
     height: 400px;
     padding-top: 50px;
     padding-right: 10px;
     bottom: 10px;
     left: 60px;
     position: absolute;
     
   }

   /* Classes section */

   .main-container {
     margin-top: 20px;
     margin-bottom: 500px
   }

   .main-card-title {
     text-align: center;
     margin-top: 50px;
     margin-bottom: 50px;
     font-size: 24px;
     font-weight: bold;
   }

   .card-content {
     width:1400px;
     height:300px;
     display: flex;
     justify-content: space-between;
     margin: 0 auto;
     
     
   }

   .card-image-container {
     width: 420px;
     height: 100%;
     background:#fff;
     border-radius: 5px;
     display: flex;
     justify-content: center;
     cursor: pointer;
     position:relative;
     overflow: hidden;
     
   }

   .card-img {
    transition: 5s;
  }

   .card-title {
     margin-top: 30px;
     font-size: 18px;
     font-weight: bolder;
     text-align: center;
     color: #fafafa
   }

   .card-span {
     font-weight: normal;
     display: block;
     color:inherit;
   }

   .card-info {
     position: absolute;
     height: 100%;
     top: -100%;
     left: 0;
     color: #3a3a3a;
     transition: 5s ease-in-out;
   }

     .card-info-list {
       margin: auto;
     }
     
    
   

   .card-info-item {
     margin-bottom: 20px;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     
   }

   .card-image-container:hover >li  {
   top: 0;
   overflow: hidden;

   }
 
   .card-image-container:hover > .card-info {
     top:0
   }
  
   .card-image-container:hover > .card-img {
    transform:scale(1.5)
  }

  